# Education data QA analytics dependencies
ANALYTICS_MYSQL_HOST=127.0.0.1
ANALYTICS_MYSQL_PORT=3306
ANALYTICS_MYSQL_USER=root
ANALYTICS_MYSQL_PASSWORD=123321
ANALYTICS_MYSQL_DATABASE=edu
ANALYTICS_MYSQL_TIMEOUT_SECONDS=2

ANALYTICS_QDRANT_URL=http://127.0.0.1:6333
ANALYTICS_QDRANT_COLUMN_COLLECTION=edu_column_info
ANALYTICS_QDRANT_METRIC_COLLECTION=edu_metric_info
ANALYTICS_QDRANT_TIMEOUT_SECONDS=2

ANALYTICS_ES_URL=http://127.0.0.1:9200
ANALYTICS_ES_DIMENSION_VALUES_INDEX=edu_dimension_values
ANALYTICS_ES_TIMEOUT_SECONDS=2

ANALYTICS_EMBEDDING_URL=http://127.0.0.1:8081
ANALYTICS_EMBEDDING_TIMEOUT_SECONDS=5
ANALYTICS_EMBEDDING_MODE=tei
